<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Safra Easyway</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body>
		<!-- Header -->
			<header id="header">
				<h1><a href="/">Safra Easyway</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>							
						<li><a href="/microcredito">Microcrédito</a></li>
						<li><a href="#">Benefícios (Em breve)</a></li>
						<li><a href="#">Investimentos (Em breve)</a></li>
						<li><a href="#">Safra Club(Em breve)</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">					
					<header class="major">
						<div id="container-home">
							<img id="home-image" src="images/logo-safra-easyway.png" alt="Safra Easyway" class="responsive" />												
							<p>O Safra Easyway foi criado para descomplicar a sua vida. Se você é microempreendedor e precisa de ajuda no seu negócio essa solução é para você. Aqui você pode conseguir microcrédito, realizar investimento e contar com total apoio do Safra e seus produtos.</p>
						</div>
					</header>						
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">					
					<div>	
						<ul>
							<h1 class="footer-support">Em caso de suporte em contato em suporteeasyway@safra.com.br ou 0800 999 9999</h1>
						</ul>						
					<div class="8u 12u$(medium)">														
						<ul class="copyright">
							<li>&copy; Safra EasyWay. All rights reserved.</li>
						</ul>
					</div>						
					</div>
				</div>
			</footer>
	</body>
</html>